
<div id="changePassword" style="margin-top: 15px;">
    <button type="button" class="btn btn-primary" id="askForUpdate" onClick="showUpdateForm()">Update Password?</button>
    <br>
    <form id="passwordUpdateForm" method="post" style="display: none;">
        <label for="p1">Enter New Password</label>
        <input type="password" id="p1">
        <label for="p2">Confirm Password</label>
        <input type="password" id="p2">
        <p> </p>
        <button type="button" class="btn btn-success" onclick="changePassword()">Update</button>
        <button type="button" class="btn btn-primary" onclick="cancelChangePassword()">Cancel</button>
    </form>
    <br>
</div>
