<div id="changePassword">
    <form method="post">
        <label for="p1">Enter New Password</label>
        <input type="password" id="p1">
        <label for="p2">Confirm Password</label>
        <input type="password" id="p2">
        <button type="button" class="btn btn-primary" onclick="changePassword()">Update</button>
    </form>
</div>