<h1>Sign Up</h1>
 
<a href='#'>Spotify</a>
<a href='#'>Facebook</a>
<a href='#'>LinkedIn</a>

<br>
<input type="text" placeholder="email"><br>
<input type="password">

<br>

<button> Sign Up Now..</button>

