<script type="text/javascript" charset="utf-8" src="https://akshay.dev.appreciationengine.com/framework/js/429"></script>


<div id="signup">
            <div style="background: #000; color:#fff;">Social Signup</div>
            <div style="padding: 15px 30px;">
                <a href="#" data-ae-register-link="spotify" class="ae-btn btn btn-default">SPOTIFY</a>
                <a href="#" data-ae-register-link="facebook" class="ae-btn btn btn-default">FACEBOOK</a>
                <a href="#" data-ae-register-link="twitter" class="ae-btn btn btn-default">TWITTER</a>
            </div>
            <div style="background: #000; color:#fff;">Email Signup</div>
            <div style="padding: 15px 30px;">
                <form id="email-signup" data-ae-register-form="email" method="post">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                        
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up!</button>
                </form>
            </div>

